@keyframes waveAnimation {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2) ;
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(3);
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}