div.AdminUsersOverview {
    h2.overview--heading {
        font-size: 20px;
        font-weight: 600;
    }
    div.overview--boxes {
        display: flex;

        div.box {
            box-shadow: var(--shadow-type-two);
            background-color: #fff;
            flex: 0 1 49%;
            margin-top: 15px;
            border-radius: 4px;
            div.detail--buttons {
                padding: 15px 30px;
                text-align: left;
            }
            h3.box--heading {
                font-weight: 400;
                font-size: 16px;
                padding: 15px 30px;
                text-align: left;
            }
            div.box--details {
                padding: 15px 30px;
                border-top: 1px solid rgba(0, 0, 0, 0.15);
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                div.box--row {
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 300;
                    font-size: 14px;
                    &:not(:first-of-type) {
                        margin-top: 20px;
                    }
                    div.key {
                        min-width: 170px;
                        text-align: left;
                    }
                    div.value {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}