div.AdminUsersOverview,
div.AdminTasks {
    div.table--name {
        background-color: #fff;
        text-align: left;
        padding: 20px 20px 0 20px;
        span {
            display: inline-block;
            padding: 10px 14px;
            border-radius: 4px;
        }
    }

    h2.overview--heading {
        font-size: 20px;
        font-weight: 600;
    }
    h2.section--heading {
        font-weight: 400;
        font-size: 16px;
        text-align: left;
    }

    div.key--value--pair {
        display: flex;
        align-items: center;
        span {
            display: flex;
            align-items: center;
        }
    }

    div.status {
        display: inline-block;
        text-align: center;
        padding: 7px 5px;
        min-width: 90px;
        font-weight: 400;
        border-radius: 4px;
        font-size: 13px;
        &.requested {
            background-color: var(--status--requested--background);
            color:  var(--status--requested--color);
        }
        &.completed {
            background-color: var(--status--success--background);
            color:  var(--status--success--color);
        }
        &.failed {
            background-color: var(--status--failure--background);
            color:  var(--status--failure--color);
        }
        &.verified, 
        &.chips_sent,
        &.flagged {
            background-color: var(--status--pending--background);
            color:  var(--status--pending--color);
        }
    }

    div.overview--boxes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div.box {
            box-shadow: var(--shadow-type-two);
            background-color: #fff;
            flex: 0 1 49%;
            margin-top: 15px;
            border-radius: 4px;
            @media (max-width: 1100px) {
                flex: 0 1 100%;
            }
            div.detail--buttons {
                padding: 15px 30px;
                text-align: left;
            }
            h3.box--heading {
                font-weight: 400;
                font-size: 16px;
                padding: 25px 30px;
                text-align: left;
            }
            div.box--details {
                padding: 25px 30px;
                border-top: 1px solid rgba(0, 0, 0, 0.15);

                @media (max-width: 450px) {
                    padding: 15px;
                }
                div.box--row {
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 300;
                    font-size: 14px;
                    &:not(:first-of-type) {
                        margin-top: 20px;
                    }
                    div.key {
                        color: var(--light-grey);
                        min-width: 170px;
                        text-align: left;
                        @media (max-width: 450px) {
                            min-width: 120px;
                        }
                    }
                    div.value {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}