div.Accordion {
    div.accordion {
        button.header--button {
            color: #fff;
            background-color: transparent;
            position: relative;
            width: 100%;
            min-height: 40px;
            outline: none;
            border: none;

            svg.arrow--icon {
                transition: transform 300ms ease-in-out;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        div.accordion--content--container {
            overflow: hidden;
            height: 0px;
            transition: height 300ms ease-in-out;
        }
    }
}