div.LogIn {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    background-color: #fff;
    div.login--window {
        max-width: 400px;
        width: 100%;
        border-radius: 2px;
        flex: 0 1 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1.main--heading {
            span {
                color: var(--primary-shade-one);
                text-transform: uppercase;
                &:nth-of-type(2) {
                    color: var(--accent-three-shade-two);
                }
            }
        }
        
        form {
            width: 100%;
        }

        span.error--message {
            color: var(--dark-red);
            font-size: 13px;
        }
    }
}