ul.AdminMenu {
    background-color: var(--primary);
    min-width: 0px;
    flex: 0 1 300px;
    transition: flex 240ms ease-in-out;
    overflow: hidden;
    z-index: 5;
    li {
        font-size: 14px;
        &:not(.accordion--menu):hover a {
            color: var(--accent-one-shade-two);
            &::after {
                opacity: 0.13;
            }
        }
       
        a {
            outline: none;
            font-weight: 300;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 20px;
            cursor: pointer;
            position: relative;
            transition: color 230ms ease-in-out;
            min-width: 300px;

            &.active {
                color: var(--accent-one-shade-three);
            }

            svg {
                margin-right: 40px;
            }
            
            &::after {
                content: '';
                background-color: #fff;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 230ms ease-in-out;
            }
        }
        ul.dashboard--tasks {
            li {
                &:hover a {
                    color: var(--accent-one-shade-two);
                    &::after {
                        opacity: 0.13;
                    }
                }
                a {
                    color: #fff;
                    padding: 10px 20px 10px 30px;
                }
            }
        }
    }

    li.dashboard--tasks--link {
        display:  none;
        height: 24px;
        a::after {
            content: none;
        }
        button.mobile--dashboard--button {
            height: 24px;
            background-color: transparent;
            border: none;
            svg {
                color:  #fff;
            }
        }
        @media (max-width: 768px) {
            display: block;
        }
        ul.mobile--dashboard--tasks {
            position: fixed;
            bottom: 0;
            width: 100%;
            left:  0;
            color: #fff;
            background-color: var(--primary);
            transform: translateY(100%);
            transition: transform 300ms ease-in-out;
            li {
                button.close--mobile--dashboard {
                    background-color: var(--primary);
                    outline: none;
                    color: #fff;
                    border: none;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px 20px;
                    position: relative;
                    
                    span.tasks--text {
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 15px;
                    }
                }

                a {
                    color: #fff;
                    padding: 10px 20px 10px 30px;
                    div {
                        display: block;
                    }
                }
                &:first-of-type a,
                &:last-of-type a {
                    padding: 20px 20px 20px 30px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        position: fixed;
        bottom: 0;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        li {
            &:first-of-type a {
                padding-top: 0;
            }
            a {
                padding:  0;
                min-width: auto;
                svg {
                    margin-right: 5px;
                }
            }
            &.accordion--menu {
                display: none;
            }
        }
    }

    @media(max-width: 550px) {
        li {
            div {
                display: none;
            }
        }
    }
}