div.Modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -5;
    transition: background-color 300ms ease-in-out;
    background-color: transparent;
    color: var(--dark-text);
    div.modal--window {
        box-shadow: var(--shadow-type-one);
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        transition: top 200ms ease-in-out, opacity 320ms ease-in-out;
        opacity: 0;

        div.modal--header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 20px 15px;
            position: relative;
            height: 79px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                color: black;
                right: 0;
                padding: 10px;
                position: relative;
                right: -15px;
            }
        }

        div.modal--content {
            font-weight: 300;
            min-height: 120px;
            font-size: 13px;
        }
    }

    div.confirmation--buttons {
        display: flex;
        justify-content: space-between;
        button {
            flex: 0 1 48%;
        }
    }
}